/Code Analysis
/Github App
/Sawtooth/*_pycache_*
/Sawtooth/intkey*
/Sawtooth/data
/Sawtooth/client
/Sawtooth/keys
/Sawtooth/logs/
/Sawtooth/policy
/Sawtooth/setup
*.pyc
/Sawtooth/*.intkey
/Sawtooth/*.batch
/CodeAnalysis/SourceMeter_Interface/SourceMeter-8.2.0-x64-linux/*

/Code

ServerSideScripts/map/

GUI/\.idea/

\.idea/

GUI/health\.png
